@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    /* Colors */

    /*Primary*/

    --Strong-cyan: hsl(172, 67%, 45%);

    /*Neutral*/

    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);

    /* Typography */

    --body-font-familly: "Space Mono", monospace;
    --body-font-size: 1rem;
    --body-font-weight: 400;

    --input-font-size: 1.5rem;

    --button-font-size: 1.25rem;
    --span-font-size: 0.813rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--body-font-familly);
}

body {
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    color: var(--Dark-grayish-cyan);
    background-color: var(--Light-grayish-cyan);
}

.attribution {
    font-size: 0.688rem;
    text-align: center;
    margin-top: 2rem;
}

.attribution a {
    color: var(--Very-dark-cyan);
}

/* media query */

/* mobile */

@media (max-width: 768px) {
    .logo {
        width: 5.417rem;
        height: 3.321rem;
    }

    label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    input:not(.tip-input) {
        height: 3rem;
        font-size: var(--input-font-size);
        background: var(--Very-light-grayish-cyan);
        text-align: right;
        font-weight: 700;
        color: var(--Very-dark-cyan);

        border: none;
        border-radius: 0.313rem;

        width: 16rem;

        outline: none;
    }

    button,
    .tip-input {
        border: none;
        border-radius: 0.313rem;

        font-size: var(--input-font-size);
        font-weight: 700;
        background: var(--Very-dark-cyan);
        color: var(--White);
    }

    .icon {
        height: 0.966rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding-top: 3.125rem;
    }

    .calculator-form {
        width: 23.438rem;
        margin-top: 2.554rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 2rem;
        padding-bottom: 2rem;

        background: var(--White);
        border-radius: 1.563rem 1.563rem 0 0;
        box-shadow: 0rem 2em 2.688rem 0rem rgba(79, 166, 175, 0.2);
    }

    .calculator-form__inputs,
    .calculator-form__results {
        display: flex;
        flex-direction: column;

        width: 19.438rem;
    }

    /* calculator-form__inputs start */

    .form-group--bill,
    .form-group--tips,
    .form-group--people {
        margin-bottom: 2rem;
    }

    .input-wrapper--bill,
    .input-wrapper--people {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        background: var(--Very-light-grayish-cyan);
        border-radius: 0.313rem;

        margin-top: 0.375rem;
        padding-left: 1.188rem;
        padding-right: 1.188rem;
    }

    .input-wrapper--tips {
        display: grid;
        grid-template-columns: repeat(2, 9.164rem);
        grid-template-rows: repeat(3, 3rem);
        gap: 1rem;
        margin-top: 0.875rem;
    }

    .tip-five {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .tip-ten {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .tip-fifteen {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .tip-twenty {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .tip-fifty {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .tip-input {
        grid-column: 2/3;
        grid-row: 3/4;

        background: #f3f9fa;
        color: var(--Very-dark-cyan);

        padding-right: 1.083rem;
        padding-left: 1.188rem;

        text-align: right;
        outline: none;
    }

    .input-wrapper-color {
        border: 1px solid #26c2ae;
    }

    .input-wrapper-error {
        border: 1px solid #E17457;
    }

    .error-message {
        color: #E17457;
    }

    .tip-button {
        text-align: center;
    }

    .calculator-form__inputs label {
        font-weight: 700;
    }

    /* calculator-form__inputs end */

    /* calculator-form__results start */

    .calculator-form__results {
        width: 20.438rem;
        height: 16.063rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        background: var(--Very-dark-cyan);
        border-radius: 0.938rem;

        padding: 2.313rem 1.375rem 1.5rem 1.5rem;
    }

    .form-group--tipAmount,
    .form-group--totalAmount {
        display: flex;
        flex-direction: row;
        align-items: center;

        justify-content: space-between;

        width: 17.563rem;

        color: var(--White);
        font-weight: 700;
    }

    .calculator-form__results span {
        font-size: var(--span-font-size);
        color: var(--Dark-grayish-cyan);
    }

    .calculator-form__results .result {
        width: 10rem;

        font-size: 2rem;
        text-align: right;
        letter-spacing: -0.042rem;

        color: var(--Strong-cyan);
    }

    #resetButton {
        width: 17.563rem;
        height: 3rem;

        background: #0d686d;
        color: #00474b;
        text-transform: uppercase;
    }

    /* calculator-form__results end */

    .attribution span {
        display: none;
    }
}

/* desktop */
@media (min-width: 769px) {
    body {
        display: grid;
        height: 100vh;
        place-content: center;
    }

    .logo {
        width: 5.417rem;
        height: 3.321rem;
    }

    .icon {
        width: 0.615rem;
    }

    input:not(.tip-input) {
        height: 3rem;
        font-size: var(--input-font-size);
        background: var(--Very-light-grayish-cyan);
        text-align: right;
        font-weight: 700;
        color: var(--Very-dark-cyan);

        border: none;
        border-radius: 0.313rem;

        width: 20rem;
        height: max-content;

        outline: none;
        cursor: pointer;
    }

    label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 23.688rem;
    }

    button,
    .tip-input {
        border: none;
        border-radius: 0.313rem;

        font-size: var(--input-font-size);
        font-weight: 700;
        background: var(--Very-dark-cyan);
        color: var(--White);

        cursor: pointer;
    }

    button:hover {
        background: #9fe8df;
        color: #00474b;
    }

    .active-button{
        background: #26C2AE;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .calculator-form {
        width: 57.5rem;
        height: 30.063rem;
        margin-top: 2rem;

        display: grid;
        grid-template-columns: repeat(2, 25.813rem);
        grid-template-rows: 26.063rem 0.813rem;
        place-content: center;

        background: var(--White);
        border-radius: 1.563rem;
        box-shadow: 0rem 2em 2.688rem 0rem rgba(79, 166, 175, 0.2);
    }

    .calculator-form__inputs {
        grid-column: 1/2;
        grid-row: 1/2;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .calculator-form__inputs label {
        grid-column: 1/2;
        grid-row: 1/2;

        font-weight: 700;
    }

    .input-wrapper--bill,
    .input-wrapper--people {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        background: var(--Very-light-grayish-cyan);
        border-radius: 0.313rem;

        margin-top: 0.375rem;
        padding-left: 1.188rem;
        padding-right: 1.188rem;

        height: 3rem;
        width: 23.688rem;
    }

    .input-wrapper--tips {
        display: grid;
        grid-template-columns: repeat(3, 7.313rem);
        grid-template-rows: repeat(2, 3rem);
        gap: 0.875rem;
        row-gap: 1rem;
    }

    .tip-five {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .tip-ten {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .tip-fifteen {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .tip-twenty {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .tip-fifty {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .tip-input {
        grid-column: 3/4;
        grid-row: 2/3;

        background: #f3f9fa;
        color: var(--Very-dark-cyan);

        padding-right: 0.938rem;
        padding-left: 0.938rem;

        text-align: right;
        outline: none;
    }

    .tip-input ::placeholder {
        color: var(--Very-dark-cyan);
    }

    .input-wrapper-color {
        border: 1px solid #26c2ae;
    }

    .input-wrapper-error {
        border: 1px solid #E17457;
    }

    .error-message {
        color: #E17457;
    }

    .calculator-form__results {
        grid-column: 2/3;
        grid-row: 1/2;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background: var(--Very-dark-cyan);
        border-radius: 0.938rem;
        /* padding: 2.5rem; */
        height: 26.063rem;
    }

    .form-group--tipAmount,
    .form-group--totalAmount {
        display: flex;
        flex-direction: row;
        align-items: center;

        justify-content: space-between;

        width: 20.813rem;

        color: var(--White);
        font-weight: 700;
    }

    .calculator-form__results span {
        font-size: var(--span-font-size);
        color: #7f9d9f;
    }

    .calculator-form__results .result {
        width: 10rem;

        font-size: 3rem;
        text-align: right;
        letter-spacing: -0.063rem;

        color: var(--Strong-cyan);
    }

    #resetButton {
        width: 20.813rem;
        height: 3rem;

        background: #0d686d;
        color: #00474b;
        text-transform: uppercase;

        margin-top: 7.625rem;
    }

    .attribution {
        grid-column: 1/3;
        grid-row: 2/3;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}